{
    "presets": [
      [
        "@babel/env",
        {
          "exclude": [
            "@babel/transform-async-to-generator",
            "@babel/transform-regenerator"
          ]
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }
  